.topic {
  background-color: cadetblue;
  padding: 1rem;
  margin-bottom: 2rem;
}

.sub-main {
  background-color: cadetblue;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.bg {
  background-color: rgb(96, 186, 189);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-fluid,
.modal-dialog.cascading-modal.modal-avatar .modal-header,
.video-fluid {
  height: 50vh !important;
  width: 100%;
}

.pic-product:hover + .hide {
  display: inline-block;
  position: absolute;
  width: 300px;
  padding: 15px;
  margin-left: 50px;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px;
  z-index: 1;
}

.hide {
  display: none;
}

.head-cate {
  color: #000;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr.line {
  border-top: 0.5px solid rgb(223, 223, 223);
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
  .col-sm-12 {
    flex: 0 0 100%;

    max-width: 100% !important;
  }
}

@media (max-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;

    max-width: 50% !important;
  }
}

.fa {
  width: 100%;
  font-size: 25px;
}

@media (max-width: 970px) {
  .fa {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .fa {
    width: 100%;
    font-size: 15px;
  }
}

.box-toggle {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 32px;
}

.switch input {
  display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(95, 95, 95);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(58px);
  -ms-transform: translateX(58px);
  transform: translateX(58px);
}


/*------ ADDED CSS ---------*/
.on
{
  display: none;

}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size:12px
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
