
.topic {
  background-color: cadetblue;
  padding: 1rem;
  margin-bottom: 2rem;
}

.sub-main {
  background-color: cadetblue;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.bg {
  background-color: rgb(96, 186, 189);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-fluid,
.modal-dialog.cascading-modal.modal-avatar .modal-header,
.video-fluid {
  height: 50vh !important;
  width: 100%;
}


.pic-product:hover + .hide {
  display: inline-block;
  position: absolute;
  width: 300px;
  padding: 15px;
  margin-left: 50px;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px;
  z-index: 1;
}

.hide {
  display: none;
}

.head-cate {
  color: #000;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: .5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

hr.line {
  border-top: .5px solid rgb(223, 223, 223);
  width: 100%;

}


@media (min-width: 576px) {
  .container {
  max-width: 576px;

}
.col-sm-12 {
  flex: 0 0 100%;
  
max-width: 100% !important;
}
}

@media (max-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    
  max-width: 50% !important;
  }

}

.fa{
  width: 100%;
  font-size: 25px;
}


@media (max-width: 970px) {
  .fa{
    width: 100%;
    font-size: 20px;
  }

}

@media (max-width: 600px) {
  .fa{
    width: 100%;
    font-size: 15px;
  }

}


.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
