
.text-date {
    margin-right: 5rem;
}

.container {
    height: 200px;
    position: relative;
    display: grid;
    row-gap: 70px;
    justify-items: center;
    align-items: center;
}


.MuiPickersToolbar-toolbar {
    background-color: #00bcd4 !important;
}

.MuiPickersDay-daySelected {
    background-color: #00bcd4 !important;

}

.MuiPickersClockPointer-pointer {
    background-color: #00bcd4 !important;


}
.MuiPickersClockPointer-thumb {
    border :14px solid #00bcd4 !important;
}

.MuiButton-textPrimary {
    color: #00bcd4 !important;
}

.MuiFormControl-marginNormal {
    margin-top: -20px !important;

}
